.contact-title {
    text-align: start;
    margin-left: 200px;
    width: 200px;
    padding: 15px 0px;
    border-bottom: 1.5px solid #818181;
}
.contact-title .contact-item {
    color: #1B4B73;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
}
.contact-title .contact-homepage{
    width: 90px;
    padding: 0px;
    margin: 0px;
}
.contact-map {
    margin: 30px 200px 0px 200px;
    height: 450px;
}
.contact-info {
    margin: 50px 200px;
}

.form .form-control {
    border: 1px solid #e1e1e1;
    height: 40px;
    border-radius: 0px;
}
.form textarea {
    border: 1px solid #e1e1e1;
    width: 100%;
    height: 150px;
}
.address p {
    text-align: start;
}
.address .address-content {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 30px;
}
.contact-title p {
    width: 100px;
    padding: 0px;
    margin: 0px;
}

/* --------------responesive */

@media screen and (max-width:576px) {
    .contact-title {
        margin : 0px 0px 0px 20px;
    }
    .contact-map {
        margin: 20px 0px 0px 0px;
        height: 300px;
    }
    .contact-info {
        margin: 20px 0px;
    }
    .address .address-content  {
        margin-top: 20px;
        padding-bottom: 20px;
    }
}
@media screen and (max-width:768px) and (min-width:578px) {
    .contact-title {
        margin : 0px 0px 0px 20px;
    }
    .contact-map {
        margin: 20px 0px 0px 0px;
        height: 300px;
    }
    .contact-info {
        margin: 100px 0px;
    }
    .address .address-content  {
        margin-top: 20px;
        padding-bottom: 20px;
    }
}