.button-filter {
    display: none;
}

.total-filter {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.total-filter > svg {
    width: 30px;
    height: 30px;
}
.sidenav-men {
    height: 90%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    border: 1px solid #f1f1f1;
  }
  
  .sidenav-men a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    /* display: block; */
    transition: 0.3s;
  }
  
  .sidenav-men a:hover {
    color: #f1f1f1;
  }
  
  .sidenav-men-left > .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    height: 50px;
    border: none;
    background-color: white;
  }
  .sidenav-men-left .closebtn:hover {
    color: #818181;
  }
  @media screen and (max-height: 450px) {
    .sidenav-men {padding-top: 15px;}
    .sidenav-men a {font-size: 18px;}
  }
  .sidenav-right-men {
    margin-bottom: 20px;
    border-bottom: 1px solid #818181;
  }
  .checkbox-menu-sticker:checked ~ .sidenav-men {
    width: 500px;
  }


/* ------------------------- */
.men-title {
    width: 300px;
    margin: 30px 150px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
}

.men-title .men-all-item {
    color: #1B4B73;
    font-weight: bolder;
    width: 190px;
    padding: 0px;
    margin: 0px;
    font-size: 1.2em;
}
.men-title  .men-homepage {
    width: 90px;
    padding: 0px;
    margin: 0px;
}
.men-content{
    margin: 0px 150px;
}
/* --------------------right */
.watch-men {
    padding: 0px 20px;
    margin: 0px;
}
.all-item  {
    border: 1px solid #e1e1e1;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 30px;
}

.all-item .left-all-item , .right-all-item {
    margin-bottom: 0px;
}
button .show {
    border-color: white;
}
.men-item img {
    width: 100%;
}
.men-item a {
    text-decoration: none;
    color: #818181;
}

.men-item {
    position: relative;
    border: none;
}
.men-item:hover .men-button {
    display: block;
}
.men-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    top : 80px;
    left: 90px;
    display: none;
}
.men-button:hover {
    border: 2px solid #1B4B73;
}
.men-img-mini .men-img-mini1 , .men-img-mini2 , .men-img-mini3 {
    border: 1px solid #e1e1e1;
}
.men-img-mini {
    justify-content: center;
    display: none;
     
}

/* ------------------select */
.right-all-item select {
    margin: 0px;
    height: auto;
}
/* ------------ Nút thêm vào giỏ hàng */
.btn-men {
    background-color: #1B4B73;
    color: white;
    width: 70%;
    margin-left: 40px;
    display: none;
}
.men-item:hover .btn-men {
    display: block;
}
/* ---------------------hover */
.men-item:hover .men-img-mini {
    display: flex;
}
.men-item:hover {
    border: 1px solid #e1e1e1;
    overflow: hidden;
}
/* --------------------responsive web */

@media screen and (max-width : 578px) {
    .button-filter {
        display: block;
        position: sticky;
        top:50%;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    .sidenav-men {
        height: 1000px;
        /* height: 90%; */
        width: 0;
        position: absolute;
        z-index: 1;
        top: -400px;
        left: 0px;
        background-color:white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 30px;
        border: 1px solid #f1f1f1;
    }

    .checkbox-menu-sticker:checked ~ .sidenav-men {
        width: 100%;
      }
    .men-title {
        margin: 0px 0px 0px 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    /* ----------men-right */
    .men-content {
        margin: 0px;
    }
    .watch-men {
        padding: 0px;
    }
    .all-item {
        margin-top: 10px;
    }
    .men-content .tintuc-left {
        display: none;
    }
    /* -----------men-right-product */
    .btn-men {
        margin-left: 0px;
        width: 100%;
    }
    .men-button {
        left: 70px;
        top :55px;
    }
    .men-img-mini {
        margin: 0px 10px 10px 10px;
    }
    .men-img-mini .men-img-mini1, .men-img-mini2, .men-img-mini3 {
        padding: 0px;
        margin-bottom: 0px;
    }
}


/* ----------------- */
@media screen and (max-width:769px) and (min-width:578px)  {

    /* ----------men-right */
    .men-content {
        margin: 20px 10px;
    }
    .watch-men {
        padding: 0px;
    }
    .all-item {
        margin-top: 10px;
    }
    /* .men-content .tintuc-left {
        display: none;
    } */
    /* -----------men-right-product */
    .btn-men {
        margin-left: 0px;
        width: 100%;
    }
    .men-button {
        left: 100px;
        top :90px;
    }
    .men-img-mini {
        margin: 0px 10px 10px 10px;
    }
    .men-img-mini .men-img-mini1, .men-img-mini2, .men-img-mini3 {
        padding: 0px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width:992px) and (min-width:769px) {

    /* ----------men-right */
    .men-content {
        margin: 20px 20px;
    }
    .watch-men {
        padding: 0px;
    }
    .all-item {
        margin-top: 10px;
    }
 
    /* -----------men-right-product */
    .btn-men {
        margin-left: 0px;
        width: 100%;
    }
    .men-button {
        left: 70px;
        top :60px;
    }
    .men-img-mini {
        margin: 0px 10px 10px 10px;
    }
    .men-img-mini .men-img-mini1, .men-img-mini2, .men-img-mini3 {
        padding: 0px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width:1200px) and (min-width:992px) {
        /* ----------men-right */
        .men-content {
            margin: 20px 20px;
        }
        .watch-men {
            padding: 0px;
        }
        .all-item {
            margin-top: 10px;
        }
     
        /* -----------men-right-product */
        .btn-men {
            margin-left: 0px;
            width: 100%;
        }
        .men-button {
            left: 85px;
            top :70px;
        }
        .men-img-mini {
            margin: 0px 10px 10px 10px;
        }
        .men-img-mini .men-img-mini1, .men-img-mini2, .men-img-mini3 {
            padding: 0px;
            margin-bottom: 0px;
        }
}
@media screen and (max-width:1400px) and (min-width:1200px) {
            /* ----------men-right */
            .men-content {
                margin: 20px 20px;
            }
            .watch-men {
                padding: 0px;
            }
            .all-item {
                margin-top: 10px;
            }
         
            /* -----------men-right-product */
            .btn-men {
                margin-left: 0px;
                width: 100%;
            }
            .men-button {
                left: 85px;
                top :70px;
            }
            .men-img-mini {
                margin: 0px 10px 10px 10px;
            }
            .men-img-mini .men-img-mini1, .men-img-mini2, .men-img-mini3 {
                padding: 0px;
                margin-bottom: 0px;
            }

}