.sidenav {
    height: 90%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    border: 1px solid #f1f1f1;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    /* display: block; */
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav-left > .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
    height: 50px;
    border: none;
    background-color: white;
  }
  .sidenav-left .closebtn:hover {
    color: #818181;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .sidenav-right-men {
    margin-bottom: 20px;
    border-bottom: 1px solid #818181;
  }
  /* --------------------------- */
    .checkbox-menu-sticker:checked ~ .sidenav {
      width: 1000px;
    }
 

  /* --------------------------- */
.menu {
  display: flex;
  height: 70px;
  text-align: center;
  align-items: center;
  border: 1.5px solid #f1f1f1;
  justify-content: space-around;
  align-items: center;
 
}
/* -------------------- */
.input-group {
  width: 150px;
  padding: 0px;
}

.input-group-text , .form-control  {
  border: none;
  padding: 0px;
  background-color: white;
}
.input-group-item {
  justify-content: center;
  align-items: center;
}
.input-group >.input-group-item > .input-group-search > input {
  width: 70%;
  border: none;
}
.input-group-search > .form-control {
  padding: 0px;
}
.input-group-search {
  padding: 0px;
}
/* -------------------- */
.cart span {
  padding: 0px;
}
.cart p {
  padding: 0px;
  text-align: start;
}
.cart span .bi-cart3 {
  width: 30px;
  height: 30px;
}
.cart-item {
  justify-content: end;
  align-items: center;
}

/* ----------responsive-------*/

@media screen and (max-width:576px) {
  /* -----------------phần nav */

.menu .sidenav-right {
  display: none;
}

.menu  div {
  padding: 0px;
}
.menu span {
  margin-bottom: 0px;
}
.menu .menu-title-content {
  display: none;
}
.cart {
  justify-content: end;
}
.menu  .cart-title-content {
  display: none;
}
.cart span .bi-cart3 {
  width: 20px;
  height: 20px;
}

.checkbox-menu-sticker:checked ~ .sidenav {
  width: 100%;
}
.sidenav {
  height: 50%;
}
.sidenav-left > .closebtn {
  right: 20px;
}
}
/* ------------------responsive  */
@media screen and (max-width:769px) and (min-width:578px) {
  /* -----------------phần nav */

.menu .sidenav-right {
  display: none;
}

.menu  div {
  padding: 0px;
}
.menu span {
  margin-bottom: 0px;
}
.menu .menu-title-content {
  display: none;
}
.cart-title {
  margin-bottom: 0px;
}

.cart span .bi-cart3 {
  width: 20px;
  height: 20px;
}

.checkbox-menu-sticker:checked ~ .sidenav {
  width: 50%;
}
.sidenav {
  height: 70%;
}
.sidenav-left > .closebtn {
  right: 20px;
}
}
@media screen and (max-width:1400px) and (min-width:769px) {
  
  .menu  div {
    padding: 0px;
  }
  .menu span {
    margin-bottom: 0px;
  }
  .checkbox-menu-sticker:checked ~ .sidenav {
    width: 100%;
}

  .cart-title {
    margin-bottom: 0px;
  }

  .cart span .bi-cart3 {
    width: 20px;
    height: 20px;
  }
  .cart-item {
    justify-content: end;
    align-items: center;
  }

  .sidenav-left > .closebtn {
    right: 20px;
  } 
  .sidenav-right-men > img {
    width: 100%;
  }
}
/* @media screen and (max-width:1200px) and (min-width:992px) {
  
  .menu  div {
    padding: 0px;
  }
  .menu span {
    margin-bottom: 0px;
  }

  .cart-title {
    margin-bottom: 0px;
  }

  .cart span .bi-cart3 {
    width: 20px;
    height: 20px;
  }
  
  .checkbox-menu-sticker:checked ~ .sidenav {
    width: 50%;
  }
  .sidenav {
    height: 70%;
  }
  .sidenav-left > .closebtn {
    right: 20px;
  } 
}
@media screen and (max-width:1400px) and (min-width:1200px) {
  .menu  div {
    padding: 0px;
  }
  .menu span {
    margin-bottom: 0px;
  }

  .cart-title {
    margin-bottom: 0px;
  }

  .cart span .bi-cart3 {
    width: 20px;
    height: 20px;
  }
  
  .checkbox-menu-sticker:checked ~ .sidenav {
    width: 50%;
  }
  .sidenav {
    height: 70%;
  }
  .sidenav-left > .closebtn {
    right: 20px;
  } 
} */
@media screen  and (min-width:1400px) {
  
  .menu  div {
    padding: 0px;
  }
  .menu span {
    margin-bottom: 0px;
  }

  .cart-title {
    margin-bottom: 0px;
  }

  .cart span .bi-cart3 {
    width: 20px;
    height: 20px;
  }
  
  .sidenav-left > .closebtn {
    right: 20px;
  } 
}