.table-group-divider .btn-warning {
    background-color: #ffc107;
}
.table-group-divider .btn-danger {
    background-color: #b02a37;
}
.table-group-divider .btn-success {
    background-color: #198754;
}
.search-table-product {
    justify-content: center;
    align-items: center;
}
.table-products {
    margin-top: 50px;
}